.ant-notification-topRight {
    right: 50% !important;
    margin-right: -192px !important;
}

.ant-spin-container {
    overflow: hidden;
}

.ant-fullcalendar-header {
    display: none;
}

ul.times {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}

ul.times li {
}


.ant-fullcalendar-fullscreen .ant-fullcalendar-content {
    overflow: hidden;
}